:root {
  --purple: #897678;
  --light-purple: #cec1c3;
  --green: #94aa6b;
  --light-green: #9cae79;
  --dark-green: #8e9561;
  --orange: #f1a545;
}

.homeWelcome-info-container {
  background-position: 50%;
  transform: scaleX(-1);
}

.homeWelcome-info-container--background {
  flex-direction: row;
  transform: scaleX(-1);
  background-color: rgba(142, 149, 97, 0.5);
}

.homeWelcome-main-container button a {
  font-size: 2rem;
}

.homeWelcome-header-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 920px;
}

.homeWelcome-header-container .homeWelcome-header_slogan {
  font-size: 5rem;
  margin: 10%;
}

.homeWelcome-header-container .homeWelcome-header_invitation {
  /*position: absolute;
    bottom: 10%;
    left: 1%;*/
  font-size: 3rem;
  justify-self: flex-end;
  font-size: 3rem;
}

.homeWelcome-header-container figure {
  display: none;
}

.homeWelcome-main-container,
.homeWelcome-main-signUp-container {
  background-color: var(--green);
  width: 80%;
  height: 850px;
  margin: 2%;
  padding: 5%;
  border-radius: 0px;
  border: var(--green) 10px solid;
  box-shadow: inset 0 0 0 5px var(--dark-green);
}

.homeWelcome-main-form-container {
  width: 100%;
  height: 60%;
  margin: 10%;
}

.homeWelcome-main-container input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--dark-green);
}

.homeWelcome-main-container button {
  background-color: var(--orange);
  width: 150px;
  height: 40px;
}

.homeWelcome-main-container label,
.homeWelcome-main-container p {
  font-size: 2rem;
  margin: 5%;
}

.homeWelcome-main-container a {
  text-decoration: none;
  font-size: 1.8rem;
}

.homeWelcome-main-container figure {
  display: flex;
  justify-self: start;
  width: 40%;
  min-width: 200px;
  margin-bottom: 50px;
}

.homeWelcome-main-container figure img {
  width: 100%;
}

.homeWelcome-main--signUp {
  margin: 20px;
  font-size: 2rem;
}

.homeWelcome-main-form .signUpButton {
  background-color: var(--orange);
  font-size: 2rem;
}

.homeWelcome-main-container .homeWelcome-main--invitation {
  font-size: 2rem;
}

.homeWelcome-main--icons-container {
  width: 50%;
  margin: 3%;
}

.homeWelcome-main--icons-container p {
  font-size: 2rem;
  margin: 6%;
}

.homeWelcome-main--icons-container a img {
  width: 40px;
}

header {
  display: flex;
  position: fixed;
  height: 150px;
  align-items: center;
  justify-content: space-between;
  font-family: "Cormorant Infant", serif;
  border: var(--green) 20px solid;
  box-shadow: inset 0 0 0 3px var(--purple);
}
.chop {
  width: 17%;
  height: 80%;
  left: 4%;
}

header .tittle {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  right: 50px;
  font-size: 2.3rem;
}
header .perfil,
.menu {
  display: none;
}

nav {
  position: fixed;
  top: 150px;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-shrink: 0;
  margin: 200px 0;
}
.information-people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  font-family: "Cormorant Infant", serif;
  font-size: 2.7rem;
  padding: 30px;
  border: 2px solid var(--green);
  border-radius: 5%;
  padding: 15px;
}

.information-people div img {
  background: var(--green);
  width: 250px;
  height: 200px;
  border-radius: 60%;
}
.information-people ul {
  list-style: none;
  text-align: center;
  width: 100%;
}
