@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap'); 
/*
font-family: 'Satisfy', cursive;
font-family: 'Roboto', sans-serif;
*/
.authPage-container {
    flex-direction: row;
}

.authPage-header-container {
    width: 60%;
}

.authPage-main-container {
    width: 40%;
}

.nav-info {
    display: inline-block;
}
nav ul li{
 display: inline-block;
}

.toggle-btn span {
    display: none;
}