

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap'); 
/*
font-family: 'Satisfy', cursive;
font-family: 'Roboto', sans-serif;
*/

.authPage-container {
    display: flex;
    flex-direction: column;
  }

.authPage-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
  }
  
  .authPage_slogan {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    font-weight: normal;
  }
  
  .authPage-header-invite {
    text-align: center;
    padding: .5%;
    margin-top: -1%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .authPage-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    border-radius: 12px;
    background-color: #9EB1BF;
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
    padding: 1.5%;
    margin: 0% 3% 3%;
  }

.main-container-line {
    box-sizing: border-box;
    width: 100%;
    border: solid #A23D3D;
    padding: 2%;
    border-radius: 12px;
}
  
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
.error-message {
    font-weight: bold;
    color: #A23D3D;
    display: none;
  }
  
.form {
    display: flex;
    flex-direction: column;
  }

.join {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}

.form input {
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 4px;
    margin-bottom: 6px;
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
}

.form label {
    font-weight: bold;
    margin: 2.5%;
}
  
.accessButton {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    align-self: center;
    width: 100px;
    height: 25px;
    margin: 5%;
    border-radius: 8px;
    border: none;
    background-color: #FFFF33;
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
  }

.authPage-main-container img {
    width: 46px;
    margin-left: 20px;
}

.go-signUp {
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
    color: #A23D3D;
}

header{
    display: inline-block;
    width: 100%;   
    position: relative;
    background-color = #9EB1BF;
}

.logo {
  left: 10px;
  height: 50px; 
}

.nav-header{
    float: right;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

.nav-info {
  display: none;
}

.nav-header ul{
    margin-top: 0%;
    list-style: none;
}

.nav-header ul li{
    padding-left: 15px;
    padding-right: 42px;   
}

.toggle-btn{
    width: 35px;
    position: absolute;
    right: 50px;
    top: 30px;
}

.toggle-btn span{
    display: block;
    float: left;
    width: 100%;
    height: 2px;
    background-color: #FFFF33;    
    margin-bottom: 8px;
    font-size: 15px;     
}

#toggle {
  display: none;
}

#toggle:checked + .nav-info {
   display: inline-block;
}

.nav-footer img {
  width: 50px;
}