
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap'); 
/*
font-family: 'Satisfy', cursive;
font-family: 'Roboto', sans-serif;
*/

/* logIn and signUp */

.none{
    display: none !important;
}
.login{
    font-family: 'Roboto', sans-serif;
}

body .container{
    font-family: 'Roboto', sans-serif;
    background: hsl(0deg 0% 100% / 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}

h1{
    font-weight: bold;
    margin: 0;
    font-family: 'Satisfy', cursive;
}
p{
    font-size:14px ;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 498*89l0px;
}
span{
    font-size: 12px;
  height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

a{
    color:#333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container{
    background: rgb(245, 241, 241);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    height: 480px;
    min-height: 480px;
    box-sizing: border-box;
}

.form-container form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 73%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.social-container{
    margin: 20px 0;
    box-sizing: border-box;
}
.social-container img {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.form-container input{
    background: #eee;
    border:none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button{
    border-radius: 20px;
    border:1px solid #7F152E;
    background:  #7F152E;
    color: #f5d52c;
    font-size: 12px;
    font-weight: bold;
    padding:12px 45px ;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline: none;
}
button.chage{
    background: #f5D52C;
    border-color: #f5d52c;
  color: #ffff;
}
.form-container{
    position: absolute;
    top:0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.overlay-container{
    position: absolute;
    top:0;
    left:50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlay {
    background: #7F152E;
    color:#fff;
    position: relative;
    box-sizing: border-box;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.overlay-left{
    transform: translateX(-20%);
}

/* animation*/
/* Move signin to the right*/
.container.right-panel-active .sign-in-container{
transform: translateX(100%);
}
/*move overlay to left*/
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
/*Bring sign up over sign in*/
.container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
/*Move overlay back to rigth*/
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}

/* main page contenedor de páginas */
h1{
    font-weight: bold;
    margin: 0;
    font-family: 'Satisfy', cursive;
}
p{
    font-size:14px ;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 498*89l0px;
}
span{
    font-size: 12px;
  height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

a{
    color:#333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}


header{
    display: inline-block;
    width: 100%;   
    position: fixed;
}

.logo {
    background-color: #7F152E;
    height: 100px;
    width: 100%;
}

.logo img {
  height: 72px;
  margin: 20px;
}

.nav-header{
    float: right;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

.nav-info {
  display: none;
}

.nav-header ul{
    margin-top: 0%;
    list-style: none;
}

.nav-header ul li{
    padding-left: 15px;
    padding-right: 42px;
      font-size: 16px;
    color:#e3e2eb;
    text-decoration: none;
    line-height: 45px ;
    border-bottom:1px solid #e8dfec;
    text-transform: capitalize;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav li a:hover, .aside .nav li a.active{
    color: #d7ec18;
}

.toggle-btn{
    width: 35px;
    position: absolute;
    right: 50px;
    top: 30px;
    cursor: pointer;

}

.toggle-btn span{
    display: block;
    float: left;
    width: 100%;
    height: 2px;
    background-color: #FFFF33;    
    margin-bottom: 8px;
    font-size: 15px;     
}

#toggle {
  display: none;
}

#toggle:checked + .nav-info {
   display: inline-block;
   background-color: #fff;
}

.post-container {
    position:relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 130px;
  left: 20%;
  padding-bottom: 20px;
}


/* Pàgina de error */
.error404 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(206, 192, 194, 0.5);
}

.error404-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.error404 p {
    width: 60%;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Cookie', cursive;
    font-size: 2.5rem;
}

/* log in and sign up error messages */
.error-message-already-user {
    color:#7F152E;
    font-weight: bold;
    display: none;
}

.error-message-verification {
    color:#7F152E;
    font-weight: bold;
    display: none;
}

.error-message-not-found {
    color:#7F152E;
    font-weight: bold;
    display: none;
}

.verification {
    color:darkgreen;
    font-weight: bold;
    display: none;
}

/* new recipe format */
.new-recipe-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.new-recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

.new-recipe-form input {
    width: 200px;
    height: 20px;
    border-radius: 4px;
    margin-bottom: 6px;
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
}

.new-recipe-form label {
    font-weight: bold;
    margin: 2.5%;
}

 .new-recipe-form textarea {
  width : 300px;
  height: 100px;
  resize: none;
  border-radius: 4px;
  margin-bottom: 18px;
       box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
}

.new-recipe-form .vegetarian {
    font-weight: normal;
    box-shadow: none;
    width: unset;
}

.new-recipe-form .vegetarian input {
    cursor: pointer;
    top: 5px;
    background-color: #eee;
}

/* Recipe cards format */
#post-container {
    flex-direction: column-reverse;
}

.recipe-template {
    display: flex;
    box-sizing: border-box;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  width: 350px;
 padding: 1.5%;
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
 border-radius: 8px;
 margin: 20px;
}

.recipe-info {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 margin: 6px;
}

.recipe-info h3 {
    display: flex;
  font-family: 'Satisfy', cursive;
 align-self: center;
 align-content: center;
 font-weight: bold;
   font-size: 1.5rem;
   border-radius: 6px;

}

.recipe-title {
    display:inline-flex;
    vertical-align: middle;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.recipe-info textarea {
 cursor: context-menu;
 border: none;
 font-family: 'Roboto', sans-serif;
 font-size: 1rem;
 resize: none;
 outline: none;
 height: 120px;
 width: 80%;
 border-radius: 6px;
}

.recipe-template button {
    font-size: 9px;
    padding: 8px;
    margin-right: 28px;
}

.recipe-template .edit-buttons {
    justify-content: space-between;
    display: none;
    margin: 10px;
}

.front img {
 object-fit: cover;
 width: 300px;
 height: 180px;
 border-radius: 8px;
}

.img-preview-recipe{
    object-fit: cover;
    width: 300px;
    height: 180px;
    border-radius: 8px;
}

.user-data img{
  border-radius: 50%;
  width: 40px;
  height: 100%;
  margin-right: 10px;
}

.user-data {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: -12px;
  padding: 10px;
}

.user-data p {
  font-weight: bold;
}


.img-preview-recipe{
    object-fit: cover;
    width: 300px;
    height: 180px;
    border-radius: 8px;
}

.recipe-info span {
    font-size: 1rem;
    color: darkgreen;
}


.bottom-icons {
    display: inline-block;
    width: 100%;
    margin: 10px;
    margin-left: 60px;
    vertical-align: middle;
}

.bottom-icons span {
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: -15px;
}

.bottom-icons button {
    align-self: flex-end;
    justify-self: flex-end;
    float: right;
}

.recipe-template i {
    cursor: pointer;
}

.img img{
    width: 30px;
    height: 30px;
}

/* sign out page*/

.sign-out-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.app-icon {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 5%;
    background-color: #7F152E;
    border-radius: 50%;
}

.app-icon img{
width: 90%;
}

.sign-out-page p {
    width: 60%;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Cookie', cursive;
}

.log-out-bts button {
    justify-content: space-between;
    background: #f5D52C;
    border-color: #f5d52c;
  color: #7F152E;
  margin-left: 20px;
}

/* icono de eliminar*/
.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 97px;
    width: 54px;
}

p.btn-delete{
    cursor: pointer;
}

/* función editar */
.edit-buttons{
    display: none;
    justify-content: space-between;
}

.edit-buttons button{
    background: #f5D52C;
    border-color: #f5d52c;
  color: #7F152E;
  justify-content: space-between;
}

/* perfil */
.profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
}

.profile-page{
    display: block;
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
     padding: 40px;
     width: 760px;
     border-radius:6px;
     position:fixed;
     width: 600px;
   }

   .profile-page .btn-edit{
       float:right;
       cursor: pointer;
   }
   .picture-container {
     display: flex;
     flex-direction: column;
   }
   
   .picture-container img{
     width: 160px;
     height: 160px;
     border-radius:50%;
   }

   .picture-container label{
       font-size: 15px;
   }
   
   .profile-info {
     display: flex;
     flex-direction: row;
   }
   
   .user-data-p {
     margin-left: 25px;
     flex-direction: column;
       text-align: center;
       justify-content: center;
       align-items: center;
   }
   
   .user-data-p textarea {
    cursor: context-menu;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    resize: none;
    outline: none;
     border: none;
    height: 80px;
    width: 350px;
    border-radius: 6px;
   }
   
   .user-data-p h1 {
       font-family: 'Satisfy', cursive;
   }
   
   .user-data-p p {
      font-family: 'Roboto', sans-serif;
    font-size: 1rem;
   }

   .user-data-p button {
    font-size: 9px;
    padding: 8px;
    margin-left: 20px;
   }

   @media (max-width: 768px){
    .container{
        position: inherit;
        height: 100%;
        box-shadow: none;
    }
    .form-container.sign-up-container, .form-container.sign-in-container{
        width: 100%;
    }

    .overlay-container{
       /* height: 200px;
        width: 100%;
        left: 0;
        bottom: 0;
        top:inherit;
        */
        display: none;
    }
    
    .container.right-panel-active .sign-up-container{
       transform: translateX(0);
       }
    
       #sign-up-mobile, #sign-in-mobile{
           display: block;
           background-color: rgb(192, 145, 17);
           border: none;
       }
    
       .main-container {
        width: fit-content;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;
    }

    .form-container{
        top: 312px;
    }

    .form-container form{
        height: 5%;
    }

    .logo{
        top:0;
        position: fixed;
        display: flex;
    }

    .nav-header ul {
        margin-top: 43%;
    }

    /* .home.section{
        margin-top: 50px;
    } */

   }