@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap'); 
/*
font-family: 'Satisfy', cursive;
font-family: 'Roboto', sans-serif;
*/

<<<<<<< HEAD
.authPage-container {
    display: flex;
    flex-direction: column;
  }
=======
/* Pàgina de error */
>>>>>>> 50ad19f470ed6a4039fd9c7c550a76a61ed32f33

.error404 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(206, 192, 194, 0.5);
}

.error404-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.error404 p {
    width: 60%;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Cookie', cursive;
    font-size: 2.5rem;
}
