* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root {
    --purple: #897678;
    --light-purple: #CEC1C3;
    --green: #94AA6B;
    --light-green: #9CAE79;
    --dark-green: #8E9561;
    --orange: #F1A545;
}

.homeWelcome-info-container {
    width: 100%;
    height: 100%;
    background-image: url('https://user-images.githubusercontent.com/75234502/106777197-624f4380-660a-11eb-9cc2-ef5ed87b60d7.jpg');
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.homeWelcome-info-container--background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(206, 192, 194, 0.5)/* rgba(243, 243, 243,0.5)*/;
}

.homeWelcome-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.homeWelcome-header-container figure {
    width: 45%;
    height:45%;
    margin-top: 5%;
}

.homeWelcome-header-container figure img {
    width: 100%;
    height: 100%;
}

.homeWelcome-header-container .homeWelcome-header_slogan {
    font-family: 'Cookie', cursive;
    font-size: 2.5rem;
    font-weight: normal;
}

.homeWelcome-header-container p {
    text-align: center;
    padding: 1%;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.homeWelcome-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 375px;
    padding: 10%;
    margin: 5% 0;
    background-color: var(--purple);
    border-radius: 5px;
    border: var(--purple) 10px solid;
    box-shadow: inset 0 0 0 2px var(--orange);
}

.homeWelcome-main-container figure {
    display:none;
}

.homeWelcome-main-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.homeWelcome-main-container form {
    display: flex;
    flex-direction: column;
}

.homeWelcome-main-container label, .homeWelcome-main-container p {
    font-family: 'Cormorant Infant', serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.homeWelcome-main-container input {
    width: 200px;
    height: 20px;
    margin-bottom: 5px;
    background-color: var(--light-purple);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main-container button {
    width: 90px;
    margin-top: 5%;
    font-family: 'Cookie', cursive;
    font-size: 1.6rem;
    background-color: var(--light-green);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main-container button a {
    text-decoration: none;
}

.homeWelcome-main-container .homeWelcome-main--invitation {
    color: white;
    font-weight: 50;
    font-size: 1.2rem;
}

.homeWelcome-main--icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    padding: 3%;
}

.homeWelcome-main--icons-container p {
    width: 100%;
    margin: 5%;
    text-align: center;
    font-size: 1.5rem;
}

.homeWelcome-main--signUp {
    text-decoration: none;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.3rem;
    color: white;
}








